.container {
  margin: 0 auto;
  text-align: center;
}

.line_breaker {
  margin: 24px;
  border-block-start: 1px solid rgba(5, 5, 5, 0.06);
  border-width: 1px 0 0;
  background: none;
  border-style: dashed;
}